<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Hirschi</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-lg font-semibold">Security Hirschi</div>
            <div class="space-x-4">
                <a href="{{ url_for('home_route') }}" class="text-white hover:text-gray-400">Home</a>
                {% if current_user.is_authenticated %}
                    <span class="text-white">Hello, {{ current_user.username }}!</span>
                    <a href="{{ url_for('auth.logout') }}" class="text-white hover:text-gray-400">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="text-white hover:text-gray-400">Login</a>
                    <a href="{{ url_for('auth.register') }}" class="text-white hover:text-gray-400">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-8">
        {% block content %}
        {% endblock %}
    </div>

    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>