<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen zu meiner 3. Semesterarbeit</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

    {% include 'partials/_header.html' %}

    <div class="flex-grow flex flex-col items-center justify-center py-8">
        <div class="container mx-auto flex flex-col items-center justify-center mt-8 mb-16">
            <h1 class="text-3xl font-bold text-center text-gray-800">Willkommen zu meiner 3. Semesterarbeit</h1>
            <p class="text-xl font-bold text-center text-gray-800 mt-4">Authentifizierte Benutzer können hier Nummern, URLs etc. prüfen.</p>
            {% if current_user.is_authenticated %}
            <div class="mt-20 text-center"> 
                <a href="/security-news" class="text-5xl font-bold text-blue-800 hover:text-blue-600">Security News / Tools</a>  
            </div>
            {% endif %}
        </div>
    </div>

    

</body>
</html>