<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

    {% include 'partials/_header.html' %}

    <div class="flex-grow flex flex-col items-center justify-center py-8">
        <div class="container mx-auto flex flex-col items-center justify-center mt-8 mb-16">
            <h1 class="text-3xl font-bold text-center text-gray-800">Login</h1>
            <form action="{{ url_for('auth.login') }}" method="post" class="w-full max-w-md mt-8">
                <input type="text" name="username" placeholder="Username" required class="block w-full p-2 border border-gray-300 rounded mt-2">
                <input type="password" name="password" placeholder="Password" required class="block w-full p-2 border border-gray-300 rounded mt-2">
                <input type="submit" value="Login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 w-full">
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes mt-4">
                        {% for category, message in messages %}
                            <li class="{{ category }} mt-2">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
