<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security News</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
        async function fetchSecurityNews() {
            const response = await fetch('/news');
            const data = await response.json();
            const newsContainer = document.getElementById('news-container');
            newsContainer.innerHTML = '';
            data.articles.slice(0, 5).forEach(article => {
                const articleElement = document.createElement('div');
                articleElement.classList.add('mb-4', 'p-4', 'bg-white', 'shadow', 'rounded');
                articleElement.innerHTML = `
                    <h2 class="text-xl font-bold">${article.title}</h2>
                    <p>${article.description}</p>
                    <a href="${article.url}" target="_blank" class="text-blue-500 hover:underline">Read more</a>
                `;
                newsContainer.appendChild(articleElement);
            });
        }

        async function fetchUselessFact() {
            const response = await fetch('/uselessfact');
            const data = await response.json();
            const factContainer = document.getElementById('fact-container');
            factContainer.innerHTML = `<p>${data.fact}</p>`;
        }

        document.addEventListener('DOMContentLoaded', () => {
            fetchSecurityNews();
        });
    </script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

    {% include 'partials/_header.html' %}

    <div class="flex-grow container mx-auto py-8 flex flex-row justify-between">
        <div class="w-2/3 pr-4">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Latest IT Security News</h1>
            <div id="news-container"></div>
        </div>
        <div class="w-1/3 pl-4">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Security Tools</h1>
            {% if current_user.is_authenticated %}
            <form action="/security-news" method="post" class="w-full mb-8">
                <input type="text" name="url" placeholder="Enter URL here" required class="block w-full p-2 border border-gray-300 rounded mt-2">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 w-full">Submit URL for Scan</button>
            </form>
            {% if submitted_url %}
            <div class="mt-4">
                <p class="text-center">Submitted URL: {{ submitted_url }}</p>
            </div>
            <div class="mt-4">
                {% if url_scan_result %}
                <p class="text-center">{{ url_scan_result }}</p>
                {% endif %}
            </div>
            {% endif %}
            <form action="/security-news" method="post" class="w-full mb-8">
                <input type="text" name="phone_number" placeholder="Enter phone number here" required class="block w-full p-2 border border-gray-300 rounded mt-2">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 w-full">Check Phone Number</button>
            </form>
            {% if display_phone_response %}
            <div class="mt-4">
                {% if phone_info %}
                <p class="text-center">{{ phone_info }}</p>
                {% endif %}
            </div>
            {% endif %}
            <div class="mt-8 w-full flex flex-col items-center">
                <button onclick="fetchUselessFact()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-8 w-full">Get a Useless Fact</button>
                <div id="fact-container" class="bg-white p-4 shadow rounded mt-4 w-full text-center"></div>
            </div>
            {% else %}
            <p class="text-center">You need to be logged in to view this page.</p>
            {% endif %}
        </div>
    </div>

    
    
</body>
</html>
